<!DOCTYPE html>
<html>
<head>
  <title>Pizzeria</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
		<div id="header">
			<div id="header_content">
				<%= render "shared/menu" %>
			</div>
			<%= render "shared/login_bar" %>
		</div>
		<div id="header_line"/></div>
		<div id="content_wrapper">
			<div id="content">
			<%= yield %>
				
			</div>
		</div>
		<div id="footer_line"/></div>
		<div id="footer">
			
		</div>
</body>
</html>
