<%= form_for(@order) do |f| %>
<div>
<h1 style="display:inline">Order confirmation</h1>
<p style="float:right">
  <%= link_to "Back to choose pizzas", :back , :style => "font-size:15px"%>
  <%= f.submit :value => "Confirm order", :style => "font-size:16px"%>
</p>
<% if @order.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>
    <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
</div>
  <div style="float:left; width:350px">
    <h2>Please specify order delivery data</h2>
    <div class="field">
      <%= f.label :firstName %><br />
      <%= f.text_field :firstName %>
    </div>
    <div class="field">
      <%= f.label :surname %><br />
      <%= f.text_field :surname %>
    </div>
    <div class="field">
      <%= f.label :address %><br />
      <%= f.text_field :address %>
    </div>
    <div class="field">
      <%= f.label :phone %><br />
      <%= f.phone_field :phone %>
    </div>
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email %>
    </div>
  </div>
  <div class="section" style="margin-left: 50px; float:right; width:350px">
    <h2>My order</h2>
    <table width="100%">
      <% @order.pizzas.each do |p| %>
        <tr>
          <td><%= p.recipe.name %></td>
          <td align="right"><%= format_price(p.price) %></td>
        </tr>
      <% end %>
      <tr>
        <td colspan="2"><hr /></td>
      </tr>
      <tr>
        <td>Total:</td>
        <td align="right"><%= format_price(@order.price) %></td>
      </tr>
    </table>
  </div>
<% end %>