<h1>Listing recipes</h1>
<div class="section">
<table>
  <tr>
    <th>Name</th>
    <th width="40%">Description</th>
    <th>Price</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @recipes.each do |recipe| %>
  <tr>
    <td><%= recipe.name %></td>
    <td style="text-align:justify"><%= recipe.description %></td>
    <td style="text-align:center"><%= format_price(recipe.price) %></td>
    <td><%= link_to 'Show', admin_recipe_path(recipe) %></td>
    <td><%= link_to 'Edit', edit_admin_recipe_path(recipe) %></td>
    <td><%= link_to 'Destroy', admin_recipe_path(recipe), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
</div>

<%= link_to 'New recipe', new_admin_recipe_path %>
