<div class="menu">
<%= link_to "Current orders", "/admin", :class => 'menu_link' %>
<%= link_to "Statistics", '/admin', :class => 'menu_link' %>
<%= link_to "Ingredients", admin_ingredients_path, :class => 'menu_link' %>
<%= link_to "Recipes", admin_recipes_path, :class => 'menu_link' %>
<%= link_to "Users", admin_users_path, :class => 'menu_link' %>
</div>
